<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h3>メッセージ一覧</h3>
  </div>
  
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info col-xs-2"><%= message.name %></span>
      <span class="panel panel-default col-xs-9" style="margin-left:20px;"><%= message.body %></span>
      (<%= link_to "edit" ,edit_message_path(message) %>
       <%= link_to "destroy" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
       )
      <br>
    <% end %>
  </div>
</div>

<% #部分テンプレートを読み込んでいる　%>
<%= render 'form' %>


